html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #262626;
}

.hide{
    display: none;
}

#camera{
    width: 100%;
    height: 100%;
}

.stick{
    position: absolute;
    bottom: 10px;
    left: 50%;

    color: white;
    font-size: 22px;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;

    cursor: pointer;
}

.mirror{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
}
