<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>StickMyFace</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster" />
        <link rel="stylesheet" href="stickMyFace/asset/css/style.css" />
    </head>
    <body>
