<html>
    <head>
        <title>StickMyFace</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster" />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
