<%- include ('component/header.ejs') -%>
<h1>StickMyFace</h1>

<video id="camera">
</video>

<p class="error"></p>
<button class="stick hide">Stick</button>

<div class="mirror hide">
    <div class="mirror-picture hide">
        <img class="mirror-picture__diplay" src="" />

        <a href="#" class="mirror-picture__close"><img src="/stickMyFace/asset/img/close.png" /></a>
        <a href="#" download="face.jpg" class="mirror-picture__download"><img src="/stickMyFace/asset/img/download.png" /></a>
    </div>
    <img class="mirror-loading hide" src="/stickMyFace/asset/img/loading.gif" />
</div>

<canvas id="renderer" class="hide" width="640" height="480"></canvas>

<script>
var prefix = '<%= prefix %>';
</script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="/stickMyFace/asset/js/capture.js"></script>
<%- include ('component/footer.ejs') -%>
