<% include component/header.ejs %>

<video id="camera">
</video>
<button class="stick">Stick</button>

<canvas id="renderer" width="640" height="480"></canvas>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="js/capture.js"></script>
<% include component/footer.ejs %>
